@import 'ress';

#app {
  color: #121c3d;
  padding-top: 3em;
  text-align: center;
  img {
    border: solid 1px #121c3d80;
    border-radius: 1em;
    box-shadow: 0.3em 0.3em 0.5em #121c3d2d;
    display: inline-block;
    margin-bottom: 1.5em;
    width: 100px;
  }
}
